.page-header {
    font-family: "Open Sans";
    background-color: #222831;
    color: white;
    margin-bottom: 1em;
}

.page-footer {
    font-family: "Open Sans";
    background-color: #393e46;
    color: white;
    margin-top: 1em;
}
